.dropdownContentItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e7e7;
  padding: 0.5rem;
  width: 100%;
}

.dropdownContentItem > div {
  display: flex;
}

.dropdownContentItem > div > button {
  cursor: pointer;
  border: none;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: white;
  padding: 0.5rem;

  &:hover {
    background-color: #f0f0f0;
  }
}

.dropdownContentItem > div > div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: white;

  &:hover {
    background-color: #f0f0f0;
  }
}

.dropdownContentItem > input {
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 9999px;
  padding: 0.5rem;
  text-align: center;

  &:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0 0 0.5rem 0.5rem;
  border: 1px solid #ababab;
  border-radius: 8px;
  background-color: #ababab;
}

.dropdownContent > div {
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0.2rem;
  min-width: 7.5rem;

  &:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:hover {
    background-color: #e8e8e8;
  }
}
