@use '@assets/mixins.scss' as *;
@use '@assets/variables.scss' as *;

.list-item-container {
    display: flex;
    flex-direction: row;
    gap: pxToRem(8);
    border-radius: pxToRem(8);
    background-color: white;
    padding: pxToRem(12);
    position: relative;
    align-items: center;
    box-shadow: 0 pxToRem(3) pxToRem(1) pxToRem(1) rgba(0, 0, 0, 0.15);
    overflow: hidden;

    .tag::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 0;
        border-color: var(--tag-color, #f1f1f1) transparent transparent transparent;        
    }

    .icon {
        cursor: pointer;
        font-size: pxToRem(24);
        width: pxToRem(24);
        height: pxToRem(24);

        :deep(.emoji-mart-emoji) {
            padding: 0;
        }
    }

    .text {
        flex: 1;
    }

    .checkbox-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
        display: inline-flex;
        align-items: center;
        width: pxToRem(20);
        height: pxToRem(20);
    }
}