.app {
  width: 100%;
}

.floatingLeft {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 1rem;
  z-index: 1;
  padding: 1rem;
}

.floatingRight {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 1rem;
  z-index: 1;
  padding: 1rem;
  height: 10vh;
}
