.app {
  width: 100%;
}

.bottomLeft {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 1rem;
  z-index: 1;
  padding: 1rem;
}

.bottomRight {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 1rem;
  z-index: 1;
  padding: 1rem 2rem;
}

.topRight {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  gap: 1rem;
  z-index: 1;
  padding: 1rem 2rem;
}

.topBar {
  display: flex;
  top: 0;
  left: 0;
  gap: 1rem;
  z-index: 1;
  background-color: white;
}

.portal {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(100%);
  white-space: nowrap;
}
