.category {
  display: flex;
  gap: 1rem;
  border-left: 2px solid;
  border-left: 8px solid;
  border-radius: 4px;
  background-color: white;
  padding: 0.5rem;
}

.category > input {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.category .deleteButton {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  border: none;
  background-color: white;

  &:hover {
    opacity: 1;
  }
}
