.content {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: 1px solid #ababab;
  background-color: #ababab;
}

.content > div {
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0.2rem;
  min-width: 7.5rem;

  &:hover {
    background-color: #e8e8e8;
  }
}
