.date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: white;
  padding: 0.5rem;
  width: fit-content;
  pointer-events: none;
  user-select: none;
}

.date > span {
  border-radius: 1px;
  background-color: #e0e0e0;
  width: 1px;
  height: 1rem;
}
