.date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: white;
  width: fit-content;
  pointer-events: none;
  user-select: none;
}

.date .header {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  color: #555;
  font-size: 0.825rem;
  text-align: center;
}

.date .body {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 2rem;
  font-size: 1.25rem;
}

.date .body .emoji {
  align-self: flex-start;
}
