.group {
  display: flex;
  gap: 1rem;
  background-color: white;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 24px;
  align-items: center;
}

.category .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
  }
}

.category .name {
  min-width: 8ch;
}
