.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}

.item:first-child .separator {
  visibility: hidden;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content > input {
  border: none;
  border-bottom: 1px solid transparent;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6px;
  min-width: 6px;
  height: 100%;

  &:after {
    display: block;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 1px;
    content: "";
  }
}

.deleteButton {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  border: none;
  background-color: white;

  &:hover {
    opacity: 1;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.status .sideButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.status .element {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: none;
  border-radius: 9999px;
  background-color: #efefef;

  &:hover {
    background-color: #e0e0e0;
  }
}

.status .element > div {
  flex-grow: 1;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e7e7;
  padding: 0.5rem;
}

.menu > div {
  display: flex;
}

.menu > div > button {
  cursor: pointer;
  border: none;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: white;
  padding: 0.5rem;

  &:hover {
    background-color: #f0f0f0;
  }
}

.menu > div > div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: white;

  &:hover {
    background-color: #f0f0f0;
  }
}

.menu > input {
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 9999px;
  padding: 0.5rem;
  text-align: center;

  &:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
