.content {
  display: flex;
  flex-grow: 1;
}

.text {
  flex-grow: 1;
}

.delete {
  background-color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.delete:hover {
  opacity: 1;
}
