.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.sideButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.currentContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: none;
  border-radius: 9999px;
  background-color: #efefef;
  height: 1rem;

  &:hover {
    background-color: #e0e0e0;
  }
}

.current {
  flex-grow: 1;
  text-align: center;
}

.stageItem {
  display: flex;
}

.numberInputContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.numberInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: #5a5a5a;
}

.numberInput > span {
  font-size: 0.8rem;
}

.numberInput > input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.2rem;
  width: 100%;
  min-width: 6rem;
  text-align: center;
}
