.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.listGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  height: 80vh;
}
