.lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .lists {
    flex-direction: row;
  }
}

.lists .createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }
}

.list {
  min-width: 18.75rem;
  max-width: 100%;
}

.title {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 4px;
}

.title > input {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.groups .createButton {
  border: none;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
