.lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .lists {
    flex-direction: row;
  }
}

.lists .create {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: 4px;
}

.lists .create:hover {
  opacity: 0.8;
}

.list {
  min-width: 18.75rem;
  max-width: 100%;
}

.title {
  text-align: center;
  background-color: #f1f1f1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 4px;
}

.title input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  background-color: transparent;
}

.title input:focus {
  outline: none;
}

.menu {
  display: none;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.groups .create {
  border: none;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
}

.groups .create:hover {
  opacity: 1;
}

.contextMenu {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: #ababab;
  border: 1px solid #ababab;
}

.contextMenu > div {
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 0.2rem;
  min-width: 7.5rem;
}

.contextMenu > div:hover {
  background-color: #e8e8e8;
}
