.dialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 0 0;
}

.settingsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
  z-index: 100;
  cursor: pointer;
  border: none;
  background-color: unset;
}
